.fontStyle {
  font-family: IBM plex Sans;
  font-size: 14px;
  font-weight: none;
}
.listStyle {
  list-style-type: none;
}
* {
  font-family: IBM plex Sans;
  font-size: 14px;
  font-weight: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 40%;
  line-height: 20px;
  margin-top: 25px;
  padding: 0px 20px;
}
.container ul {
  display: grid;
}
.container ul ul {
  padding: 10px 0px;
}
.container ul ul li {
  line-height: 21px;
  display: inline;
}
.container ul ul li h5 {
  font-weight: bold;
  line-height: 21px;
  font-size: 10px;
  color: gray;
}
.container ul ul li p {
  font-size: 14px;
  color: #524f4f;
  font-weight: bold;
}
.container ul ul li h4 {
  color: #7878f1;
  font-size: 14px;
}
.container ul ul li i {
  color: #7878f1;
  font-size: 20px;
  position: relative;
  left: 10px;
  top: 3px;
}
.container li h1 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 10;
}
