.fontStyle{
    font-family: IBM plex Sans;
    font-size: 14px;
    font-weight: none;
}

.listStyle{
    list-style-type: none;
}

*{
    .fontStyle();
    .listStyle();
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
//upcoming events
.container{
    //margin: 0 auto;
    width: 40%;
    line-height: 20px;
    margin-top: 25px;
    padding: 0px 20px;
    ul{
        display: grid;
        ul{
            //border-bottom: solid 1px gray;
            padding: 10px 0px;
            li{
                line-height: 21px;
                display: inline;
                h5{
                    font-weight: bold;
                    line-height: 21px;
                    font-size: 10px;
                    color: gray;
                }
                p{
                    font-size: 14px;
                    color :rgb(82, 79, 79);
                    font-weight: bold;
                }
                h4{
                    color: rgb(120, 120, 241);
                    font-size: 14px;
                }
                i{
                    color: rgb(120, 120, 241);
                    font-size: 20px;
                    position: relative;
                    left: 10px;
                    top: 3px; 
                }
            }
        }
    }
    li{
        h1{
            font-size: 25px;
            line-height: 30px;
            font-weight: 10;
            
        }
    }

}